.vectorLayerContainer {

}

.overlayLayerContainer {

}

.layerControl {
    /* layer control base class */
}

.layerControlTable {
    width: 100%;
}

.layerControlTable tr {
    vertical-align: middle;
}

.layerControlTableExpand {
    cursor: pointer;
    text-align: center;
    width: 1.2em;
}

.layerControlTableCheckbox, .layerControlTableUpdate {
    text-align: center;
    width: 1.2em;
}

.layerControlTableLabel {
    font-size: 110%;
}

.layerControlIndent {
    padding-left: 20px;
}

.layerControlToggleIcon {
    font-size: 115%;
}

.layerControlClick {
    cursor: pointer;
    color: #369;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.layerControlClick {
    decoration: underline;
}

.layerControlLegendTable tr {
    vertical-align: middle;
}

.layerControlLegendTable td {
    padding: 0;
}

.layerControlLegendImage {
    border: none;
    padding: 0;
}
