<div>
    <table>
        <tr>
            <td data-dojo-attach-point="expandClickNode" class="hardcider-layer-expand-td">
                <i data-dojo-attach-point="expandIconNode" class="fa fa-folder-o hardcider-layer-icon"></i>
            </td>
            <td class="hardcider-layer-visibility-td">
                <i data-dojo-attach-point="visibilityIconNode" class="fa fa-circle"></i>
            </td>
            <td>
                <span data-dojo-attach-point="labelNode"></span>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="expandNode" class="hardcider-layer-indent hardcider-display-none"></div>
</div>
